body {
    background-color: black;
    font-family: "Courier New", Courier, monospace;
}

div.a {
    text-align: center;
    font-size: large;
    color: white;
}

pre {
    text-align: center;
    color: limegreen;
}